@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '../../node_modules/react-toastify/dist/ReactToastify.css';

@import "./typography";

@layer base {
  @font-face {
    font-family: "Roobert";
    src: url("./fonts/Roobert.ttf") format("ttf");
    font-weight: regular;
}
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roobert', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dashboard {
  font-family: 'ClashDisplay-Bold';
}

/* .toastContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
  background-color: #DCF0DC;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  border-radius: 5px;
  p {
      margin: 0 !important;
  }
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  &.show {
      opacity: 1;
      transform: translateX(0) translateY(0);
  }

  &.error {
      background-color: #F4D5D5;
  }
} */
